/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2023 pankajghosh
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
    * colors
    */

  --raisin-black: hsla(231, 10%, 14%, 1);
  --roman-silver: hsla(229, 10%, 57%, 1);
  --eerie-black: hsla(228, 9%, 10%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --white_a10: hsla(0, 0%, 100%, 0.1);
  --white_a5: hsla(0, 0%, 100%, 0.05);
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

/*-----------------------------------*\
  #PRELOADER
\*-----------------------------------*/

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

/*-----------------------------------*\
  #SKILLS
\*-----------------------------------*/

/*-----------------------------------*\
  #PORTFOLIO
\*-----------------------------------*/

/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/
